# Mac files
.DS_Store

# model evaluation notebook
pricey/model_evaluation.ipynb

*.sublime*
*.code-workspace
.vscode

old
logs/
data/
models/checkpoints
modules/new_update.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
